#{extends 'main.html' /}
#{set title:'Home' /}
<style>
    .bootstrap-select .btn{
        padding: 3px 4px; margin-top: 10px
    }
    .bootstrap-select .bs-searchbox input{
        padding: 3px 4px;
        height: 25px;
    }
</style>
<h3 style="text-transform: uppercase" class="text-center">Thống kê</h3>

#{form @Application.analytic(), method:'GET'}

<div class="admin-form-group">
    <div class="wrapper-search">
        <div class="form-inline">
            <label>Từ Ngày:</label>
            <input type="text" value="${startDate.format('dd-MM-yyyy')}" name="startDate"
                   class="form-control admin-input" id="dp1">
            <label style="margin-left: 20px;">Đến Ngày:</label>
            <input type="text" value="${endDate.format('dd-MM-yyyy')}" name="endDate" class="form-control admin-input"
                   id="dp2">
        </div>
        <div class="form-inline">

                <select name="idNode" class="selectpicker show-tick" data-live-search="true"
                        title="Chọn node ...">
                    #{list items:listNode, as:'node'}
                    <option value="${node.id}">${node.name}</option>
                    #{/list}
                </select>

        </div>
        <p class="alert-danger" style="margin-top: 10px">${notification}</p>
        <div class="form-inline action-button">
            <button type="submit" class="btn btn-info admin-btn" style="margin-right: 30px;">Tìm Kiếm</button>
            <button type="submit" name="export" value="export" class="btn btn-success admin-btn">Excel</button>
        </div>
    </div>

</div>
#{/form}


<div class="form-group">
    <div class="col-lg-12">
        <table class="table table-bordered table-striped table-hover admin-table" id="myTable">
            <thead>
            <tr class="success">
                <th>STT</th>
                <th>Thời gian đo</th>
                <th>Thời gian upload</th>
                <th>Giá trị</th>
                <th>Sensor</th>
                <th>Node</th>
            </tr>
            </thead>
            <tbody>

            #{if data}
                #{paginate.list items:data, as:'obj'}
                <tr>
                    <td>${obj_index}</td>
                    <td>${obj.timeCreate}</td>
                    <td>${obj.timeReceived}</td>
                    <td>${obj.value}</td>
                    <td>${obj.sensor.name}</td>
                    <td>${obj.node.name}</td>
                </tr>
                #{/paginate.list}

            #{/if}

            #{else}
            <tr>
                <td colspan="8" style="text-align: center">
                    Không có bản ghi nào.
                </td>
            </tr>
            #{/else}


            </tbody>
        </table>
    #{paginate.summary items:data /}
    #{paginate.controls items:data /}
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#dp1, #dp2').datepicker({
            format: "dd-mm-yyyy",
            autoclose: true,
        }).on('change', function () {
            $('.datepicker').hide();
        });
    });

</script>