#{extends 'main.html' /}
#{set title:'Cảm biến và ngoại vi' /}
<h3 style="text-transform: uppercase" class="text-center title">Thông tin các cảm biến và ngoại vi</h3>
#{if isManager}
<div class="form-group">
    <button class="btn btn-primary">Thêm</button>
</div>
#{/if}

<table class="table table-bordered table-striped table-hover admin-table">
    <thead>
    <tr class="success">
        <th>ID</th>
        <th class="time-mo">Tên</th>
        <th class="type-mo">Mô tả</th>
        <th class="type-mo">Loại</th>
        #{if isManager}
        <th class="type-mo">Hành động</th>
        #{/if}

    </tr>
    </thead>
    <tbody>
    #{list items:sensors, as:'item'}
    <tr>
        <td>${item.id}</td>
        <td>${item.name}</td>
        <td>${item.description}</td>
        <td>#{if item.type==0}Cảm biến#{/if}
            #{if item.type==1}Ngoại vi#{/if}
        </td>
        #{if isManager}
        <td>
            <button class="btn">Sửa</button>
            <button class="btn btn-danger" onclick="return confirm('Bạn có muốn xóa không?');">Xoá</button>
        </td>
        #{/if}
    </tr>
    #{/list}

    </tbody>
</table>
