#{extends 'main.html' /}
#{set title:'Home' /}
<script src="@{'/public/javascripts/lib/Chart.bundle.min.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<style>
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
     .bootstrap-select .btn{
        padding: 3px 4px; margin-top: 10px
    }
    .bootstrap-select .bs-searchbox input{
        padding: 3px 4px;
        height: 25px;
    }




</style>
<h3 style="text-transform: uppercase" class="text-center title">Biểu đồ theo từng ngày</h3>

#{form @Application.partOfTheDay(), method:'GET'}

<div class="admin-form-group">
    <div class="wrapper-search">
        <div class="form-inline">
            <input type="hidden" name="commandCode" value="action"/>
            <label>Từ Ngày:</label>
            <input type="text" value="${startDate.format('dd-MM-yyyy')}" name="startDate"
                   class="form-control admin-input" id="dp1">
            <label style="margin-left: 20px;">Đến Ngày:</label>
            <input type="text" value="${endDate.format('dd-MM-yyyy')}" name="endDate" class="form-control admin-input"
                   id="dp2">
        </div>
        <div class="form-inline">

            <select name="idNode" class="selectpicker show-tick" data-live-search="true"
                    title="Chọn Node">
                #{list items:listNode, as:'node'}
                <option value="${node.id}">${node.name}</option>
                #{/list}
            </select>

            <select name="idSensor" class="selectpicker show-tick" data-live-search="true"
                    title="Chọn Sensor">
                #{list items:sensorList, as:'item'}
                <option value="${item.id}">${item.name}</option>
                #{/list}
            </select>

        </div>
        <p class="alert-danger" style="margin-top: 10px">${notification}</p>
        <div class="form-inline action-button">
            <button type="submit" class="btn btn-info admin-btn" style="margin-right: 30px;">Xem</button>
        </div>
    </div>

</div>
#{/form}
#{if notification == null}
<div style="width:100%;margin-top: 50px;">
    <canvas id="chart"></canvas>
</div>
#{/if}


<script>
    $(document).ready(function () {
        $('#dp1, #dp2').datepicker({
            format: "dd-mm-yyyy",
            autoclose: true,
        }).on('change', function () {
            $('.datepicker').hide();
        });
    });

    var medium=[];
    var max=[];
    var min=[];
    var LABEL =[];

    #{list items:dataMedium, as:'item'}
         if(${item} !=0){
            medium.push(${item});
        }else{
           medium.push(NaN);
        }
    #{/list}

    #{list items:dataMax, as:'item'}
        if(${item} !=0){
            max.push(${item});
        }else{
           max.push(NaN);
        }
    #{/list}

    #{list items:dataMin, as:'item'}
        if(${item} !=0){
            min.push(${item});
        }else{
           min.push(NaN);
        }
    #{/list}
    #{list items:labels, as:'item'}
        LABEL.push('${item}');
    #{/list}

        var maxValue;
        var labelY;
        var VALUE_MIN=[];
        var VALUE_MAX=[];
        #{if idSensor >0}
            var type=${idSensor};

        if(type==1){
            maxValue=100;
            labelY='%';
             #{list items:labels, as:'item'}
                 VALUE_MAX.push(30);
            #{/list}

        }else if(type==2){
            maxValue=40;
            labelY='°C';
            #{list items:labels, as:'item'}
                 VALUE_MIN.push(22)
                 VALUE_MAX.push(27);
            #{/list}
        }else if(type==3){
            maxValue=100;
            labelY='%';
            #{list items:labels, as:'item'}
                 VALUE_MIN.push(50)
                 VALUE_MAX.push(70);
            #{/list}
        }
        #{/if}


    var config = {
            type: 'line',
            data: {
                labels: LABEL,
                datasets: [{
                    label: 'Trung bình',
                    data: medium,
                    borderColor: 'yellow',
                    pointBorderColor: 'yellow',
                    pointBackgroundColor: 'white',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                }, {
                    borderColor: 'red',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                    pointBorderColor: 'red',
                    pointBackgroundColor: 'white',
                    label: 'Cao nhất',
                    data: max,
                }, {
                    label: 'Thấp nhất',
                    borderColor: 'green',
                    pointBorderColor: 'green',
                    pointBackgroundColor: 'white',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                    data: min,
                },{
                    label: 'Ngưỡng thấp mức an toàn',
                    borderColor: '#36A2EB',
                    pointBorderColor: '#36A2EB',
                    pointBackgroundColor: 'white',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                    borderDash: [5, 5],
                    fill: false,
                    data: VALUE_MIN,
                },{
                    label: 'Ngưỡng cao mức an toàn',
                    borderColor: '#FF3684',
                    pointBorderColor: '#FF3684',
                    pointBackgroundColor: 'white',
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                    borderDash: [5, 5],
                    fill: false,
                    data: VALUE_MAX,
                }]
            },
            options: {
                responsive: true,
                tooltips: {
                    mode: 'label',
                    callbacks: {
                    }
                },
                hover: {
                    mode: 'dataset'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Ngày'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: labelY
                        },
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: maxValue,
                        }
                    }]
                }
            }
        };

     window.onload = function() {
        var chart = document.getElementById("chart").getContext("2d");
        window.myLine = new Chart(chart, config);

    };


</script>