#{extends 'main.html' /}
#{set title:'Thông tin các root' /}
<h3 style="text-transform: uppercase" class="text-center title">Thông tin các root</h3>
#{if isManager}
<div class="form-group">
    <button class="btn btn-primary">Thêm</button>
</div>
#{/if}

<table class="table table-bordered table-striped table-hover admin-table">
    <thead>
    <tr class="success">
        <th>ID</th>
        <th class="time-mo">Tên</th>
        <th class="type-mo">Mô tả</th>
        #{if isManager}
        <th class="type-mo">Hành động</th>
        #{/if}

    </tr>
    </thead>
    <tbody>
    #{list items:roots, as:'item'}
    <tr>
        <td>${item.id}</td>
        <td>${item.name}</td>
        <td>${item.description}</td>
        #{if isManager}
        <td  align="center">
            <button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
            <button class="btn btn-danger" onclick="return confirm('Bạn có muốn xóa không?');"><span class="glyphicon glyphicon-trash"></span></button>
        </td>
        #{/if}
    </tr>
    #{/list}

    </tbody>
</table>
