#{extends 'main.html' /}
#{set title:'Thông tin các root' /}
<h3 style="text-transform: uppercase" class="text-center title">Thông tin các root</h3>
<div class="form-group">
    <button class="btn btn-primary">Thêm</button>
</div>

<table class="table table-bordered table-striped table-hover admin-table">
    <thead>
    <tr class="success">
        <th>ID</th>
        <th class="time-mo">Tên</th>
        <th class="type-mo">Mô tả</th>
        <th class="type-mo">Hành động</th>

    </tr>
    </thead>
    <tbody>
    #{list items:roots, as:'item'}
    <tr>
        <td>${item.id}</td>
        <td>${item.name}</td>
        <td>${item.description}</td>
        <td>
            <button class="btn">Sửa</button>
            <button class="btn btn-danger" onclick="return confirm('Bạn có muốn xóa không?');">Xoá</button>
        </td>
    </tr>
    #{/list}

    </tbody>
</table>
