<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    *{
    <meta name="viewport" content="width=device-width, initial-scale=1">
    }*
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/lib/bootstrap.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/lib/bootstrap-select.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/lib/datepicker.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/lib/jquery.dynatable.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main-admin.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/tableStyle.css'}">
    #{get 'moreStyles' /}
    <link rel="shortcut icon" href="@{'/public/images/favicon.ico'}">

    <script src="@{'/public/javascripts/jquery-3.1.1.min.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>
</head>
<body>
<header>
    <div class="container-fluid" style="position: relative">
        <a class="logo">
            <img src="@{'/public/images/logo_funny.png'}" alt="">
        </a>

        <div style="float: right; display: inline-block;">
            <span style="line-height: 45px; margin-right: 20px; color: #fff">Xin chào: ${session.name}</span>
            <a href="/logout" style="line-height: 45px; color: #fff">Đăng xuất</a>
        </div>
        <div style="float: right; display: inline-block; margin: 8px 58px 8px 8px">


            #{form @Application.selectLocation(), method:'POST', enctype:'multipart/form-data', id:'LocationForm'}
            <select id="idLocation" name="idLocation" class="selectpicker show-tick" data-live-search="true">
                #{list items:listLocation, as:'location'}
                <option value="${location.id}">${location.name}</option>
                #{/list}
            </select>
            #{/form}

        </div>


    </div>
</header>
<div class="wrapper-page" style="height: 100%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="menu">
                    <ul>
                        <li>
                            <a #{if request.action=="Application.index"}class="active"#{/if}
                                    href="@{Application.index()}">
                                <span class="glyphicon glyphicon-home"></span>
                                <span class="nav-item">Trang chủ</span>
                            </a>
                        </li>
                        <li>
                            <a #{if request.action=="Application.realtimeNode"}class="active"#{/if}
                                    href="@{Application.realtimeNode()}">
                                <span class="glyphicon glyphicon-home"></span>
                                <span class="nav-item">Thông tin hiện tại Node</span>
                            </a>
                        </li>
                        <li class="parrent-li">
                            <a>
                                <span class="glyphicon glyphicon-stats"></span>
                                <span class="nav-item">Thống kê</span>
                            </a>

                            <ul class="ul-dt">
                                <li>
                                    <a #{if request.action=="Application.chart"}class="active"#{/if}
                                            href="@{Application.chart()}">
                                        <!--<span class="glyphicon glyphicon-tower"></span>-->
                                        <span class="nav-item">Biểu đồ theo giờ</span>
                                    </a>
                                </li>
                                <li>
                                    <a #{if request.action=="Application.partOfTheDay"}class="active"#{/if}
                                            href="@{Application.partOfTheDay()}">
                                        <!--<span class="glyphicon glyphicon-tower"></span>-->
                                        <span class="nav-item">Biểu đồ theo buổi</span>
                                    </a>
                                </li>
                                <li>
                                    <a #{if request.action=="Application.analytic"}class="active"#{/if}
                                       href="@{Application.analytic()}">
                                        <!--<span class="glyphicon glyphicon-stats"></span>-->
                                        <span class="nav-item">Dạng bảng</span>
                                    </a>
                                </li>
                                <li>
                                    <a #{if request.action=="Application.analytic"}class="active"#{/if}
                                       href="@{Application.dangerous()}">
                                        <!--<span class="glyphicon glyphicon-stats"></span>-->
                                        <span class="nav-item">Dữ liệu xấu</span>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li>
                            <a #{if request.action=="Application.root"}class="active"#{/if}
                                    href="@{Application.root()}">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                <span class="nav-item">Thông tin các Root</span>
                            </a>
                        </li>
                        <li>
                            <a #{if request.action=="Application.node"}class="active"#{/if}
                                    href="@{Application.node()}">
                                <span class="glyphicon glyphicon-screenshot"></span>
                                <span class="nav-item">Thông tin các Node</span>
                            </a>
                        </li>
                        <li>
                            <a #{if request.action=="Application.hardware"}class="active"#{/if}
                                    href="@{Application.hardware()}">
                                <span class="glyphicon glyphicon-screenshot"></span>
                                <span class="nav-item">Cảm biến và ngoại vi</span>
                            </a>
                        </li>
                        <li>
                            <a #{if request.action=="Application.user"}class="active"#{/if}
                                    href="@{Application.user()}">
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="nav-item">Người dùng</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="wrapper-content">
                    <div class="row">
                        <div class="col-md-12">
                            #{doLayout /}
                        </div>
                    </div>
                </div>
            </div>


        </div>
        *{Go to top}*
        *{
        <div id="to-top">}*
            *{<span class="glyphicon glyphicon-arrow-up"></span>}*
            *{
        </div>
        }*
    </div>
</div>

<script src="@{'/public/javascripts/lib/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/lib/bootstrap-select.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/lib/bootstrap-datepicker.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/lib/jquery.dynatable.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>

<script>
    $('#idLocation').change(function () {
        $('#LocationForm').submit();
    });



</script>
#{get 'moreScripts' /}
</body>
</html>
